<mat-toolbar color="primary">
  <div fxHide.sm fxHide.md fxHide.lg fxHide.xl>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/">NG Fitness Tracker</a>
  </div>
  <div fxHide.xs fxFlex fxLayoutAlign="flex-end">
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li *ngIf="!(isAuth$ | async)">
        <a routerLink="/signup">Signup</a>
      </li>
      <li *ngIf="!(isAuth$ | async)">
        <a routerLink="/login">Login</a>
      </li>
      <li *ngIf="isAuth$ | async">
        <a routerLink="/training">Training</a>
      </li>
      <li *ngIf="isAuth$ | async">
        <a style="cursor: pointer" (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
