<section class="signup-form">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input type="email" matInput placeholder="Your email" ngModel name="email" required email #emailInput="ngModel">
      <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error>
      <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="password" matInput placeholder="Your password" ngModel name="password" required minlength="6" #pwInput="ngModel"
        hintLabel="Should be at least 6 characters long.">
      <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint>
      <mat-error *ngIf="pwInput.hasError('minlength')">Has to be more that 6 characters</mat-error>
      <mat-error *ngIf="!pwInput.hasError('required')">Field must not be empty</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput ngModel name="birthdate" [matDatepicker]="birthdatePicker" placeholder="Your birthdate" required [max]="maxDate">
      <mat-datepicker-toggle matSuffix [for]="birthdatePicker"></mat-datepicker-toggle>
      <mat-datepicker #birthdatePicker></mat-datepicker>
    </mat-form-field>

    <mat-checkbox ngModel color="primary" name="agree">Agree to Terms and Conditions</mat-checkbox>

    <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Submit</button>
  </form>
</section>
